a{
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
    
}
h1{
    font-family: impact;
    font-size: 60px;
    color: darkblue;
    text-align:center;
    
}
body{
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    margin:auto;
    
}
div{
    text-align: center;
}
p{
    font-family: impact;
    font-size: 25px;
    
}
td{
    width: 200px;
    height: 40px;
}